[submodule "RSSReader/Vendor/Quick"]
	path = RSSReader/Vendor/Quick
	url = https://github.com/Quick/Quick.git
	ignore = dirty
[submodule "RSSReader/Vendor/Nimble"]
	path = RSSReader/Vendor/Nimble
	url = https://github.com/Quick/Nimble.git
